.App {
  font-family: sans-serif;
  text-align: center;
  background-color: #f0f0f0;
  padding: 2rem;
}

html,
#root,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.page-count {
  padding: 5px;
  float: left;
}

.page-count-sum {
  padding: 5px;
}

.paper-title {
  font-size: 20px;
  font-weight: 500;
  padding: 16px 16px 16px 16px;
  margin: 0;
  display: flex;
  align-items: center;
  width: 100%;
}

.paper-content-inner {
  padding: 32px 16px;
  height: 15rem;
}

.paper {
  padding: 20px 20px 20px 20px;
}

.paper-wrapper {
  width: 26rem;
  height: 22rem;
  margin: 1rem;
}

.paper-wrapper-large {
  width: 54rem;
  height: 34rem;
  margin: 1rem;
}

.MuiPaper-rounded {
  border-radius: 2px;
}

.wrapper {
  flex-wrap: wrap;
  display: flex;
}

.MuiInput-root {
  float: right;
  margin-right: 10px;
  padding-right: 5px;
}
